<div id="<%= dom_id video %>">
  <p>
    <strong>Title:</strong>
    <%= video.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= video.content %>
  </p>

  <p>
    <strong>Thumbnail:</strong>
    <br>
    <% if video.thumbnail? %>
      <%= image_tag video.thumbnail.medium.url %>
    <% end %>
  </p>

  <p>
    <strong>Video</strong>
    <br>
    <% if video.video_hls? %>
      <video class="video-js" data-setup={} controls playsinline>
        <%= tag.source src: video.video_hls.url, type: "application/x-mpegURL" %>
      </video>
    <% elsif video.video? %>
      <video class="video-js" data-setup={} controls playsinline>
        <%= tag.source src: video.video.url, type: "video/mp4" %>
      </video>
    <% end %>
  </p>
</div>
